.filter table {
		border: 1px solid #999;
		text-align: center;
		caption-side: top;
			
	}

.filter th td {
	text-align: center;
	vertical-align: top;
	border: 1px solid #999;
	
	}

.filter th {
		background-color: #999;
	}


.filter #no_ruling {
  border-style: none !important;
  }
  
/* API Documentation
// ---
// Styles for marketplace and connect home pages */



.cellareaimage {
	height: 93px;
    width: 160px;
	display: block;
	overflow: hidden;
	text-align: center;
	margin: auto;
}
.cellareatitle {
	height: 50px;
	width: auto;
	display: block;
	overflow: hidden;
}
.cellarea {
	height: 100px;
    width: auto;
	display: block;
	overflow: hidden;
}
.cellareabutton {
	height: 40px;
    width: auto;
	display:block;
	overflow: hidden;
}

	img {
		display: block;
		width: 160px;
		margin-left: auto;
		margin-right: auto;
	}
	
.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,  
.btn-success:focus {
    background-color: #b3d239;
    border-color: #b3d239;
}

.large-margins  {
  margin-left: 100px;
  margin-right: 100px;
}

.top_header {
	overflow: hidden;
	background-color: #375266;
	padding: 25px 40px;
}
.logo-neo {
	height: 100px;
	width: 100px;
	position: absolute;
	top: -30px;
	left: 10px;
}
.header-title {
	overflow: hidden;
	background-image: url("Assets/backgrounds/neogovheader.png");
	/* padding: 25px 70px; */
	font-weight: 600;
	text-align: center;
	display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

}
.header-title-text {
	color: white;
	font-family: "proxima-nova";
	font-size: 30px;
	text-align: center;
}

/* vary header height for smaller screens */

@media screen and (max-width: 6000px) {
  .header-title {
    height: 152px;
  }
}

@media screen and (max-width: 992px) {
  .header-title {
    height: 120px;
 
  }


@media screen and (max-width: 500px) {
  .header-title {
     height: 90px;
  }
}

@media screen and (max-width: 480px) {
  .header-title {
      height: 80px;
  }
}

@media screen and (max-width: 360px) {
  .header-title {
    height: 70px;
  }
}


.major-cat {
	font-weight: 600;
	font-size: 14px;
	color: #545454;
	text-transform: uppercase;
	font-family: "proxima-nova";
}

.home {
	font-size: 15px;
    color: white;
	font-family: "proxima-nova";
	position:absolute;
    top:10px;
    right:0;
    margin-right: 15px;
    text-decoration: none;
}

  .logo-neo {
     height: 100px;
     width: 100px;
     position: absolute;
     top: -30px;
     left: 10px;
    }